.nav {
    width: 750px;
    margin-right: 1%;
    display: flex;
}
.nav-tabs {
    font-size: 150%;
    font-weight: bold;
    transition: 0.4s;
    list-style: none;
    margin: 0px;
    display: flex;
}
.nav-items {
    border-bottom: 3px solid transparent;
    text-align: center;
    height: 100%;
    padding: 30px 25px 15px 25px;
    color: #F4FFF8;
    font-size: 24px;
    display: flex;
    align-self: center;
    margin: 0 10px;
}
.nav-items:hover {
    border-bottom-color: #BE996E;
}
.nav-items-active {
    border-bottom: 3px solid #BE996E;
    text-align: center;
    height: 100%;
    padding: 30px 25px 15px 25px;
    color: #F4FFF8;
    font-size: 24px;
    display: flex;
    align-self: center;
    margin: 0 10px;
}