@media screen and (max-width: 1250px) {
    .nav {
        margin-right: 50px;
        justify-content: end;
    }
    .nav-items {
        font-size: 18px;
    }
}
@media screen and (max-width: 1150px) {
    .nav-items {
        padding: 10px 25px 15px 25px;
    }
    .nav-items-active {
        padding: 10px 25px 15px 25px;
    }
}
@media screen and (max-width: 930px) {
    .nav {
        margin-right: 50px;
        justify-content: end;
    }
    .nav-items {
        padding: 25px 15px 15px 15px;
        font-size: 16px;
    }
    .nav-items-active {
        padding: 15px 25px 10px 25px;
    }
}
@media screen and (max-width: 830px) {
    .nav-items {
        padding: 25px 5px 15px 5px;
    }
    .nav-items-active {
        padding: 15px 15px 10px 15px;
    }
}
@media screen and (max-width: 750px) {
    .nav {
        margin-right: 10px;
    }
    .nav-items {
        padding: 25px 5px 15px 5px;
        font-size: 16px;
    }
}
@media screen and (max-width: 710px) {
    .nav-items {
        padding: 25px 0px 5px 0px;
    }
    .nav-items-active {
        height: 40px;
        padding: 15px 15px 30px 15px;
        font-size: 18px;
    }
}
@media screen and (max-width: 620px) {
    .nav {
        width: 450px;
        margin-left: 180px;
        display: flex;
        justify-content: flex-start;
    }
    .nav-items {
        padding: 25px 0px 5px 0px;
    }
}
@media screen and (max-width: 520px) {
    .nav {
        width: 450px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .nav {
        width: 450px;
        margin-left: 20px;
        display: flex;
        justify-content: flex-start;
    }
}