.tradingview-head {
    font-size: 200%;
    color: #F4FFF8;
    width: 100%;
    margin: 5px 0 0 0;
    background-color: #000F08;
    padding: 4px 0 5px 0;
}
.tradingview-head:hover {
    color: #BE996E;
    transition: .3s;
}
.tradingview-img {
    width: 100%;
    max-height: 265px;
    max-width: 600px;
    object-fit: contain;
    opacity: .5;
    transition: .3s;
    margin: 5px 0 0 0;
}
.tradingview-img:hover {
    opacity: 1;
}
.card-description-no-repo {
    padding: 15px 20px 0px 20px;
    color: #F4FFF8;
    line-height: 140%;
    margin-bottom: 0px;
}
.technologies-indicator {
    color: #BE996E;
    padding: 0px 5px 15px 50px;
    text-align:start;
}
.pine-script-img {
    width: 130px;
    opacity: .6;
    border-radius: 5px;
    margin: 0 50px 10px 0;
}